### The Challenge

The sinking of the Titanic is one of the most infamous shipwrecks in history.

On April 15, 1912, during her maiden voyage, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren’t enough lifeboats for everyone onboard, resulting in the death of 1502 out of 2224 passengers and crew.

While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others.

In this challenge, we ask you to build a predictive model that answers the question: “what sorts of people were more likely to survive?” using passenger data (ie name, age, gender, socio-economic class, etc).

### Import basics libraries

In [2]:
import pandas as pd
import numpy as np

### Data Loading

In [64]:
train = pd.read_csv('data/Titanic - Machine Learning from Disaster/train.csv')
test = pd.read_csv('data/Titanic - Machine Learning from Disaster/test.csv')

### Feature Engineering

In [65]:
#Check columns with NaN
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [66]:
#Transform Embarked in a numerical feature
def embarked_num(i):
    if i == 'S':
        return 1

    elif i == 'C':
        return 2

    elif i == 'Q':
        return 3

    elif np.isnan(i):
        return -1

In [67]:
train['Age'] = train['Age'].fillna(-1)
train['Embarked'] = train['Embarked'].map(embarked_num)
train = pd.get_dummies(train, columns=['Sex'])

In [68]:
train.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,1,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,2,1,0
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,1,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,1,1,0
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,1,0,1

In [69]:
#Building dataframe
X = train[['Pclass','Age','SibSp','Parch','Fare','Embarked','Sex_female','Sex_male']]
y = train['Survived']

### Model

In [73]:
#Import Libraries to modeling
from sklearn.model_selection import train_test_split
from sklearn import metrics
from xgboost import XGBClassifier

In [85]:
#Train and Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=3)

model = XGBClassifier(n_estimators=2, max_depth=2, learning_rate=1, objective='binary:logistic')

# fit model
model.fit(X_train, y_train)

# make predictions
y_pred = model.predict(X_test)

#Metrics
metrics.accuracy_score(y_test, y_pred)

0.7892376681614349